body {
    position: relative;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    background-color: rgb(241, 242, 246);
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.content-header {
    margin-top: 50px;
    position: relative;
}

.content-header .popover {
    display: block;
    position: relative;
    margin: 0 auto;
    top:25px;
    text-align: center;
    max-width: 100%;
}

.content-header .popover .popover-title {
    font-size: 20px;
}

.navbar-fixed-top {
    z-index: 9999;
}

#map {
    height:480px;
    width: 100%;
}

.jumbotron-map {
    margin-top: 25px;
}

.btn-small {
    padding: 0px 12px;
    margin: 10px 0px;
}

.navbar-right {
    margin-right: 0;
}

/*
 * Timeline image
 */
.events .events-image {
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}
.events .events-image img {
    width: 100%;
}

/*
 * Categories
 */
.content-body {
    margin-top: 25px;
}

/*
 * Gallery
 */
.gallery {

}

.gallery .item {
    width: 50%;
    display: inline-block;
}

.gallery .item img {
    width: 100%;
}

/*
 * Login
 */

#login-wrapper {
    width: 320px;
    margin: 50px auto 0 auto;
}

#login-wrapper h3 {
    margin:0;
    font-size: 20px;
}

/*
 * Label
 */
label.required {
    color:#da4453;
}