{% extends 'base.html.twig' %}

{% block body %}

{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li><a href="{{ path('trip_list') }}">Trips</a></li>
        <li><a href="{{ path('trip_locations') }}">Trip Locations</a></li>
        <li><a href="#">Trips Maps</a></li>
    </ul>
{% endblock %}